a[role=button].warning, button.warning {
    --background-color: #dc3545;
    --border-color: #dc3545;
    --color: #fff;

}
a[role=button].warning:hover, button.warning:hover {
    --background-color: #bb2d3b;
    --border-color: #b02a37;
    --color: #fff;
}
a[role=button].warning:active, button.warning:active {
    --background-color: #b02a37;
    --border-color: #a52834;
    --color: #fff;
}
a[role=button].warning:disabled, button.warning:disabled {
    --background-color: #dc3545;
    --border-color: #dc3545;
    --color: #fff;
}
li.filepond--item {
    list-style-type: none;
}